body {
    font-family:Calibri;
    font-size:14px;
}

table {
  border-spacing: 10px;
  margin-left:auto; 
  margin-right:auto;
  margin-top:5em;
}

table td {
vertical-align: middle;
width:50%;
cursor:pointer;
}

#desc2 {
width:100% !important;
}

table td b{
    font-weight:bolder;
}

.img_cell {
    display:inline-table;
}


tr {
border-bottom:2px solid;
border-bottom-color:#DCDCDC;
}

table td i{
    font-style:italic;
}

.projects-header {
    background:url('../images/project-list-header.jpg') center top;
    background-size:100% 100%;
    width:100%;
	height:25%;
    position:relative;
}

.project-list {
 text-align:center;
 margin-top:5em; 
 margin-left:1em;   
 }

.item1 {
background:url('../images/crowd-api.png') no-repeat;
background-size:100% 100%;
height:44%;
width:12%;
margin-right:3em;
display:inline-block;
}

.item2 {
background:url('../images/imgseg-api.png') no-repeat;
background-size:100% 100%;
height:44%;
width:12%;
margin-right:3em;
display:inline-block;
}


